@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pusab";
  src: local("Pusab"), url("assets/PUSAB.otf");
}

@layer base {
  html,
  body,
  div#root {
    height: max(100%, auto);
    width: 100%;
  }
  * {
    color: white;
    paint-order: stroke;
    -webkit-text-stroke: 4px black;
    text-wrap: wrap;
  }
}
