@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pusab";
  src: local("Pusab"), url("assets/PUSAB.otf");
}

@layer base {
  * {
    color: white;
    paint-order: stroke;
    -webkit-text-stroke: 4px black;
  }
}
